<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MIConvexHull" version="1.1.17.1019" targetFramework="net461" />
  <package id="NUnit" version="3.8.1" targetFramework="net45" />
  <package id="OxyPlot.Core" version="1.0.0" targetFramework="net461" />
  <package id="OxyPlot.Wpf" version="1.0.0" targetFramework="net461" />
  <package id="PropertyTools.Wpf" version="2.0.1" targetFramework="net461" />
  <package id="StarMath" version="2.0.17.1019" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net461" />
  <package id="System.Reflection.Emit.ILGeneration" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" requireReinstallation="true" />
</packages>